<div class="row">
  <div class="col-sm-6">
    <h1 style="font-size:60px;"><%= @stylist.name() %></h1>
    <form action ='/stylists' method="post">
      <input name="_method" type="hidden" value="delete">
      <input name="stylist_id" id="stylist_id" type="hidden" value="<%= @stylist.id()%>">
    <button class="btn btn-danger" style="margin-top: 5px" type="submit">DELETE STYLIST</a>
    </form>
  </div>
  <div class="col-sm-6">
    <div class="row">
      <a href="/" role="button" class="btn btn-primary" style="float: right; margin-top: 20px">Home</a>
    </div>
    <div class="row">
      <a href="/stylists" role="button" class="btn btn-warning" style="float: right; margin-top: 7px">All Stylists</a>
    </div>
    <div class="row">
      <a href="/clients" role="button" class="btn btn-info" style="float:right; margin-top: 7px">All Clients</a>
    </div>
  </div>
</div>

<br><br><br>


<div class="row">
  <div class="col-sm-4">
    <h2 style="font-size:20px;">Change Stylist Name</h2>
    <form action = "/success/stylist" method= "post">
      <input name="_method" type="hidden" value="patch">
      <input name="stylist_id" id="stylist_id" type="hidden" value="<%=@stylist.id()%>">
      <div class="form-group">
        <input id="name" name="name" type="text" placeholder="ex: Marky Mark">
        </select>
      </div>

      <button type="submit" class="btn btn-success">Change Name</button>
    </form>
  </div>

  <div class="col-sm-4">
    <h2 style="font-size:20px;">Add a Client to <%= @stylist.name()%></h2>
    <form action = "/success" method= "post">
      <input name="_method" type="hidden" value="patch">
      <input name="stylist_id" id="stylist_id" type="hidden" value="<%=@stylist.id()%>">
    <div class="form-group">
      <label for="client">Client Name:</label>
      <select id="client_id" name="client_id" type"text">
          <% @all_clients.each do |client| %>
          <option value="<%= client.id()%>"><%= client.name() %></option>
          <% end %>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Add Client</button>
    </form>
  </div>

  <div class="col-sm-4">
    <h2 style="font-size:20px;">Clients of <%= @stylist.name()%></h2>

    <ul>
    <% if @stylist.clients().length > 0 %>
      <% @clients.each() do |client| %>
          <li><a href="/clients/<%= client.id()%>"><%= client.name() %></li>
        <% end %>
      <% else %>
      <span style="font-size:15px;"><%= "No clients yet!" %></span>
      <%end %>
    </ul>
</div>
</div>
